@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
  height: 93vh;
  background-image: linear-gradient(to bottom, #414141ab, #d8d8d8, #fff);
  font-family: 'Hind', sans-serif;
}

.d-flex-col {
  display: flex;
  flex-flow: column;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.main-header {
  margin: 40px 0 10px 4%;
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  color: rgb(44, 44, 44);
}

main {
  justify-content: center;
  margin: 70px 0 70px 4%;
}

.recent-scores-section {
  margin: 0 5% 0 15%;
}

.recent-header {
  align-items: center;
  justify-content: space-between;
}

.reload-btn {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  background-image: url('./assets/reload.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  transition: transform 0.7s ease-in-out;
  background-color: inherit;
}

.reload-btn:hover {
  transform: rotate(360deg);
}

.score-list > li {
  font-size: 1.2rem;
  color: #252525;
}

.adding-scores-section {
  margin: 0 15% 0 5%;
}

.adding-scores-section,
.recent-scores-section {
  color: rgba(0, 0, 0, 0.795);
  width: 50%;
  margin: 0 10% 0 5%;
  padding: 1%;
  border: 1px solid rgba(128, 128, 128, 0.349);
  background-color: rgb(230, 220, 231);
  border-radius: 8px;
  box-shadow: 1px 1px 17px 0 rgba(102, 102, 102, 0.74);
}

.adding-scores-section > form > * {
  margin: 10px 0;
}

.adding-scores-section > form > input {
  height: 1.2rem;
  padding: 10px;
  border: 0.5px solid rgba(172, 172, 172, 0.644);
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.adding-scores-section > form > input:focus {
  outline: none;
}

.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox (arrow up and down removed thanks to stackoverflow) */
}

.adding-scores-section > form > button {
  align-self: flex-end;
  height: 30px;
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(72, 131, 131, 0.521);
  font-weight: 600;
  color: rgba(43, 43, 43, 0.678);
}

.adding-scores-section > form > button:hover {
  background-color: teal;
  color: rgb(218, 218, 218);
  font-weight: 600;
}
